body{
background-image: url(background.avif);
}

h1{
border-style: solid;
border-width: 5px;
border-color: black;
padding: 10px;
width: 720px;
text-align: center;
margin: auto;
position: relative;
}

.content{
    background-color: red;
    border: 10px solid ; 
    width: 900px;
    height: 500px;
    font-size: 2em ;
    margin: auto;
    position: relative;
    padding-top: 50px;
    margin-top: 150px;
}

.table{
    margin: auto;
    position: relative;
top: 250px;
}


.dropdown {
    position: relative; 
    display: inline-block; 
}


.dropbtn {
    background-color: black; 
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px;
    border-style: solid;
    border-color: black; 
    cursor: pointer; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: red; 
    color: black; /* Text color */
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    top: 100%; 
    left: 0; 
}


.dropdown-content a {
    color: white; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    border: 2px;
    border-style: solid;
    border-color: black; 

}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block; 
}


.dropdown:hover .dropbtn {
    background-color: red;
}

.box{
    border: 5px; 
    border-style: solid;
    border-color: black;
    background-color: red;
    width: 1000px;
    height: 420px;
    text-align: center;
 margin-top: 250px;
margin-right: auto;
 margin-left: auto;   
}
